html{
    scroll-behavior: smooth;
}
body{
    background-color:#3AC9D9;
    margin: 0;
    font-size: 20px;
    color: #FFFFFF;
}
fieldset{
    border:none;
}
.card {
    height: 70%;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-bottom: 20px;
    background-image: url("../images/img-bck.png");
    background-size: cover;
}

.inner {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0F6A8B;
    box-sizing: border-box;
    padding: 40px;
    height: 80%;
    max-height: 100%;
    margin-right: 20%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.row{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.column{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
nav {
    position: fixed;
    max-width: 100%;
    width:100%;
    background-color: #0F6A8B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    z-index: 2;
}
a {
    color: #FFF;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
}
.links{
    font-size: 25px;
}
.nav-link{
    margin-right: 30px;
}
.nav-links{
    margin-right: 70px;
}
#nav-title{
    color: #F2ECD8;
    margin-left: 35px;
    font-family: monospace;
    font-size: 41px;
}
.full-screen{
    height: 100vh;
    max-width: 100%;
    padding-top:5em;
    text-align:center;
}
.full-screen-no-height{
    max-width: 100%;
    padding-top:5em;
}
form {
    display: flex;
    align-items: center;
    margin-bottom:40px;
}
main{
    margin: 0 100px;
}
.input{
    width: 30%;
    height: 30px;
    margin: 25px;
    border-radius: 5px;
    border: 0;
}
p, h1, label{
    color: #FFFFFF;
}
button, .button{
    color: #F2ECD8;
    background-color: #436E73;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 15px;
    cursor: pointer;
    margin:20px;
}
.big{
    transform: scale(1.5, 1.5);
}
.box, .mx-box{
    background-color: #FFFFFF;
    height: 20px;
    width: 20px;
    margin: 1px;
    transition:1s;
    transition-timing-function: ease-out;
}
.circle{
    border-radius: 50%;
}
.bar{
    background-color: #FFFFFF;
    width: 20px;
    margin-right: 10px;
}
#array-sorting{
    height: 60%;
}
.array{
    margin: 0 30px;
}
.green{
    background-color: #436E73;
}
.blue{
    background-color: #0F6A8B;
}
.black{
    background-color: #000;
}
#prompt{
    display: none;
}
pre {
    background: hsl(159, 17%, 80%);
    border: 1px solid #ddd;
    border-left: 5px solid #0F6A8B;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    width: 60%;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
footer{
    background-color: #0F6A8B;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-size: 15px;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.italic{
    font-style: italic;
}
#welcome{
    margin: 0 10%;
}
