html{
    scroll-behavior: smooth;
}
body{
    background-color:#3AC9D9;
    margin: 0;
    font-size: 20px;
    color: #FFFFFF;
}
fieldset{
    border:none;
}
.row{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
nav {
    position: fixed;
    max-width: 100%;
    width:100%;
    background-color: #0F6A8B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:20px;
}
a {
    color: #FFF;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
}
.links{
    font-size: 25px;
}
.nav-link{
    margin-right: 30px;
}
#nav-title{
    color: #F2ECD8;
    margin-left: 35px;
    font-family: monospace;
    font-size: 41px;
}
.full-screen{
    height: 100vh;
    max-width: 100%;
    padding-top:5em;
    text-align:center;
}
.full-screen-no-height{
    max-width: 100%;
    padding-top:5em;
}
form {
    display: flex;
    align-items: center;
    margin-bottom:40px;
}
main{
    margin: 0 100px;
}
.input{
    width: 30%;
    height: 30px;
    margin: 25px;
    border-radius: 5px;
    border: 0;
}
p, h1, label{
    color: #FFFFFF;
}
button{
    color: #F2ECD8;
    background-color: #436E73;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 15px;
    cursor: pointer;
    margin:20px;
}
.box{
    background-color: #FFFFFF;
    height: 20px;
    width: 20px;
    margin: 10px;
    transition:1s;
    transition-timing-function: ease-out;
}
.bar{
    background-color: #FFFFFF;
    width: 20px;
    margin-right: 10px;
}
#array-sorting{
    height: 60%;
}
.array{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px;
}
.green{
    background-color: #436E73;
}
#prompt{
    display: none;
}
pre {
    background: hsl(159, 17%, 80%);
    border: 1px solid #ddd;
    border-left: 5px solid #0F6A8B;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    width: 60%;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
footer{
    background-color: #0F6A8B;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-size: 15px;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
}
#welcome{
    margin: 0 20%;
}
.italic{
    font-style: italic;
}
